:root {
  --primary-color: #700B97;
  --secondary-background-color: #3E065F;
  --text-color: white;
  --background-color: #000000;
  --navbar-color: #8E05C2;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main_page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}

#logo {
  justify-content: center;
  height: 100px;
}

#logo h1 {
  margin: 0px;
  font-size: 75px;
}

header {
  padding: 0;
  margin: 0;
  text-align: center;
  color: var(--text-color);
  background-color: var(--secondary-background-color);
}

.categories {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-background-color);
  flex: 1;
  justify-content: center;
  height: fit-content;
  margin: 0;
  padding: 0;
}

.categories_grid {
  display: grid;
  width: 50%;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.category-square {
  width: 300px;
  height: 300px;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--primary-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.category-square:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.square-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.square-text {
  font-size: 20px;
  color: var(--text-color);
  text-align: center;
  font-weight: bold;
}

#logo {
  text-align: center;
  color: var(--text-color);
  background-color: var(--secondary-background-color);
}

nav {
  background-color: var(--background-color);
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

nav h1 {
  margin: 0;
}

#left-nav {
  width: 30%;
  margin-left: 0px;
  display: flex;
  gap: 60px;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

#left-nav a, #right-nav a {
  font-size: calc(1em + 1vw);
}

#right-nav {
  margin-right: 20px;
  width: 30%;
  display: flex;
  gap: 60px;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

nav a:hover {
  font-weight: bold;
  cursor: pointer;
}

.active-link {
  font-weight: bold;
  color: gold;
  text-decoration: underline;
}

.product-list {
  padding: 2rem;
}

.product-item {
  border: 1px solid #ddd;
  padding: 1rem;
  margin-bottom: 1rem;
}

footer {
  background-color: var(--background-color);
  color: white;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 0;
  width: 100vw;
}

.login-container, .register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  background-color: var(--secondary-background-color);
  margin-top: 20px;
  margin-bottom: 20px;
}

.login-form, .register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 8px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 360px;
  gap: 20px;
}

.login-title, .register-title {
  font-size: 1.8rem;
  color: var(--text-color);
  text-align: center;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 0.9rem;
  color: var(--text-color);
}

.input-group input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  color: #333;
  background-color: #f9f9f9;
  outline: none;
  transition: all 0.3s ease;
}

.input-group input:focus {
  border-color: #777;
  background-color: white;
}

.login-button, .register-button {
  width: 60%;
  padding: 12px;
  background-color: var(--navbar-color);
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button {
  margin-bottom: 10px;
}

.login-button:hover, .register-button:hover {
  background-color: red;
  cursor: pointer;
}

#register_in_log {
  color: white;
  text-decoration: none;
  margin-top: 5px;
}

#register_in_log:hover {
  font-weight: bold;
  border-bottom: 2px solid var(--text-color);
  cursor: pointer;
}

.password-criteria {
  text-align: left;
  border: black solid 2px;
  border-radius: 10px;
  background-color: var(--navbar-color);
}

.password-criteria ul {
  text-align: left;
  padding: 20px;
  margin: 0px;
}

.password-criteria ul li {
  list-style-type: none;
  color: var(--text-color);
}

.password-criteria ul li img {
  size: 100px;
}

.profile-container {
  display: grid;
  grid-template-areas:
    "header header transaction-button"
    "profile-basic-info profile-password-info profile-address-info"
    "profile-basic-info profile-password-info profile-address-info"
    "button-info button-password button-address";
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 50px;
  padding: 20px;
  flex: 1;
  background-color: var(--primary-color);
  height: calc(100% - 30px);
  width: calc(100% - 30px);
  margin: 10px;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
}

.profile-basic-info, .profile-password, .profile-address {
  background-color: var(--navbar-color);
  border: black solid 2px;
  border-radius: 10px;
  padding: 20px;
}

.profile-basic-info {
  grid-area: profile-basic-info;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
}

#button-info, #button-password, #button-address {
  width: fit-content;
  font-weight: bold;
  font-size: 20px;
}

#button-info {
  grid-area: button-info;
}

#button-password {
  grid-area: button-password;
}


#button-address {
  grid-area: button-address;
}


.profile-password {
  grid-area: profile-password-info;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
}

.profile-address {
  grid-area: profile-address-info;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
}

.profile-container h3 {
  color: gold;
}

#profile-user-header {
  grid-area: header;
  color: var(--text-color);
  font-size: 200%;
}

.profile-container label {
  color: var(--text-color);
}

.profile-container input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  color: #333;
  background-color: #f9f9f9;
  outline: none;
  transition: all 0.3s ease;
}

.profile-container button {
  width: 100%;
  padding: 12px;
  background-color: var(--navbar-color);
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profile-container button:hover {
  background-color: red;
  cursor: pointer;
}

.profile-input-group {
  display: flex;
  flex-direction: column;
}

.profile-input-group label {
  max-width: 100%;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  color: var(--text-color);
}

.container_page {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar filters"
    "sidebar products"
    "pagination pagination";
  grid-template-columns: 250px 1fr; /* Sidebar is fixed, content expands */
  grid-template-rows: auto auto 1fr; /* Header and filters take natural height, products fill remaining space */
  height: fit-content;
  width: 100vw;
  gap: 20px; /* Spacing between grid items */
  padding: 20px;
}

.pagination {
  grid-area: pagination;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.pagination button {
  font-family: inherit;
  font-weight: bold;
  height: 2em;
  font-size: 2em;
  aspect-ratio: 1;
  background-color: var(--navbar-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 15%;
  border: black solid 0.15em;
  transition: transform 0.2s ease-in-out;
}

.pagination button:hover {
  transform: scale(1.1);
}

.category_page_header_container, .product-page-header-container {
  grid-area: header;
  /* text-align: left; */
  /* position: absolute; */
  /* top: 0; Align to the top of the parent */
  /* left: 0; /* Align to the left of the parent */
  /* margin: 20px; /* Optional: Add padding from the edges */
  text-align: left; /* Ensure text aligns left */
  margin-left: 20px;
}

.category_page_header {
  color: var(--text-color);
}

.subcategories_nav_container {
  /* text-align: left;
  position: absolute;
  left: 0; */
  grid-area: sidebar;
  background-color: var(--navbar-color);
  padding: 20px;
  border-radius: 8px;
  margin-left: 20px;
  height: fit-content;
}

.subcategories_nav h1 {
  color: var(--background-color);
}

.subcategories_list {
  margin: 0px;
  padding: 0px;
}

.subcategories_list li {
  list-style: none;
  padding: 15px;
  transition: transform 0.2s ease-in-out;
}

.subcategories_list li a {
  color: var(--text-color);
  font-size: large;
  text-decoration: none;
}

.subcategories_list li:hover {
  background-color: red;
  cursor: pointer;
  border: 2px solid #000000;
  transform: scale(1.05);
}

.filters_container {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
}

#sort_button {
  background-color: orangered;
}

.filter {
  margin: 15px;
  background-color: var(--navbar-color);
  color: var(--text-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  height: min-content;
  border: none;
  border-radius: 15px;
  overflow: hidden;
  font-size: 20px;
  padding: 10px;
  
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.filter:hover {
  background-color: red;
  cursor: pointer;
  transform: scale(1.05);
}

#sort_button:hover {
  background-color: green;
  cursor: pointer;
}

.app {
  display: flex;;
  justify-content: center;
}

.products_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  flex: 1;
  background-color: var(--primary-color);
  height: fit-content;
  width: calc(100% - 100px);
  margin: 10px;
  box-sizing: border-box;
  border-radius: 8px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.products {
  grid-area: products;
}

.product-square {
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: var(--navbar-color);
  transition: transform 0.2s ease-in-out;
  text-align: center;
}

.product-square:hover {
  transform: scale(1.05);
}

.product-square h2 {
  color: gold;
  font-weight: bold;
}

.product-square p {
  text-align: right;
  margin-right: 10px;
  color: gold;
  font-weight: bold;
}

.product-square img {
  width: 50%;
}

.product-page-container {
  display: grid;
  grid-template-areas:
    "header header"
    "image basic_info"
    "image product_filters";
  grid-template-columns: 50% 50%;
  /* grid-template-rows: auto auto auto auto; */
  height: fit-content;
  width: 100%;
  gap: 20px;
  padding: 20px;
  margin-right: 50px;
  justify-items: center;
}

.product-page-header-container {
  grid-area: header;
  /* text-align: left; */
  /* position: absolute; */
  /* top: 0; Align to the top of the parent */
  /* left: 0; /* Align to the left of the parent */
  /* margin: 20px; /* Optional: Add padding from the edges */
  text-align: left; /* Ensure text aligns left */
  color: var(--text-color);
  margin-left: 50px;
}

.product-page-header-container h1 {
  font-size: 50px;
}

.product-image-and-button-container {
  grid-area: image;
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  align-content: center;
  align-items: center;
  max-height: fit-content;
  padding: 20px;
  /* max-height: fit-content;
  max-width: fit-content; */
}

.product-image-container {
  background-color: var(--primary-color);
  border-radius: 10px;
  justify-content: center;
  align-content: center;
  max-height: fit-content;
  border: black solid 2px;
  padding: 20px;
}

.product-image-container img {
  max-height: fit-content;
  width: 90%;
  padding: 20px;
}

.product-image-and-button-container button {
  width: 60%;
  padding: 20px;
  background-color: gold;
  font-weight: bold;
  font-size: 50px;
  margin-top: 10px;
  font-family: inherit;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.product-image-and-button-container button:hover {
  transform: scale(1.05);
}

.product-material-and-description {
  padding: 20px;
  text-align: center;
}

.product-material-and-description h1 {
  color: gold;
}

.product-material-and-description h2 {
  color: white;
}

.product-info-container {
  grid-area: basic_info;
  text-align: center;
}

#product-brand {
  color: white;
}

#product-price {
  color: gold;
}

.product-filters {
  grid-area: product_filters;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-colors-container {
  width: fit-content;
  padding: 20px;
}

.product-colors-container h2, .product-sizes-container h2 {
  color: white;
  font-weight: bold;
  text-align: center;
}

.product-sizes-container {
  width: fit-content;
  padding: 20px;
}

.cart-page-container {
  display: flex;
  flex-direction: row;
  padding: 40px;
  gap: 40px;
}

.empty-cart-container, .empty-transactions-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.empty-cart-container h1, .empty-transactions-container h1 {
  background-color: var(--navbar-color);
  padding: 20px;
  border-radius: 10px;
  border: black solid 5px;
  color: gold;
}

.cart-product-list {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.transaction-page-container {
  display: flex;
  justify-content: center;
}

.transaction-list-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.transaction-all-container {
  background-color: gold;
  border-radius: 30px;
  border: black solid 10px;
  padding: 20px;
}

.transaction-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.transaction-item {
  background-color: var(--navbar-color);
  border-radius: 10px;
  border: black solid 5px;
  padding: 10px;
}

.transaction-item h1 {
  color: white;
  text-align: center;
}

#color-transaction-product-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: fit-content;
  align-items: center;
}

.transaction-item-left {
  display: flex;
  flex-direction: column;
  gap: 5px;
}


.transaction-headers-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

#transaction-item-brand {
  text-align: center;
  margin-top: 0;
}

.transaction-headers {
  text-align: center;
  width: fit-content;
  background-color: orangered;
  border-radius: 10px;
  padding: 20px;
  border: black solid 5px;
}

.cart-price-button-container {
  width: 35%;
  height: fit-content;
  padding: 20px;
  background-color: gold;
  border-radius: 10px;
  border: black solid 3px;
}

#total-price-header {
  text-align: right;
  font-size: 200%;
}

.pay-button-container {
  display: flex;
  justify-content: center;
}

.pay-button-container button {
  width: 30%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 100%;
  background-color: var(--navbar-color);
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  font-weight: bold;
  font-family: inherit;
}

.pay-button-container button:hover {
  transform: scale(1.1);
}

.cart-product-container {
  display: flex;
  flex-direction: row;
  padding: 20px;
  background-color: var(--navbar-color);
  border-radius: 20px;
  border: black solid 5px;
}

.cart-product-left {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.cart-product-left h1 {
  color: gold;
}

#cart-product-brand {
  color: var(--text-color);
}

.cart-product-right {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  text-align: right;
  padding: 10px;
}

.cart-product-right h1 {
  color: orange;
}

.cart-product-right-top {
  height: 70%;
}

.cart-product-right-bottom {
  position: relative;
  height: 30%;
}

.product-button-container {
  width: 100%;
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: end;
}

.product-button-container button {
  width: 30%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  font-weight: bold;
  font-family: inherit;
}

.product-button-container button:hover {
  transform: scale(1.1);
}

#edit-product-button {
  background-color: grey;
}

#delete-product-button {
  background-color: red;
}

#color-cart-product-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.pay-page-container {
  display: grid;
  grid-template-areas: 
    "paypageproductlist paypageuserdata";
  flex-direction: row;
  padding: 30px;
  row-gap: 30px;
  column-gap: 100px;
  justify-content: center;
}

.pay-page-product-list {
  grid-area: paypageproductlist;
  width: 100%;
}

#your-order-header, #personal-info-header {
  text-align: center;
  color: white;
}

.pay-page-user-data-container {
  grid-area: paypageuserdata;
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  gap: 30px;
}

.pay-page-user-data {
  display: grid;
  gap: 30px;
  background-color: gold;
  border: black solid 5px;
  border-radius: 10px;
  padding: 20px;
  justify-items: center;
}

.pay-page-user-data label {
  color: black;
}

.pay-page-user-data input {
  border-radius: 10px;
  height: 30px;
  font-family: inherit;
  font-weight: bold;
  font-size: 20px;
}

.pay-button-box {
  background-color: gold;
  border: black solid 5px;
  border-radius: 10px;
  padding: 20px;
}

#summary-pay {
  color: white;
  text-align: center;
}

#total-pay-price {
  text-align: right;
}

.paying-button-container {
  display: flex;
  justify-content: center;
}

#complete-button {
  width: 70%;
  font-size: 25px;
  font-family: inherit;
  background-color: var(--navbar-color);
  padding: 12px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  font-weight: bold;
}

#complete-button:hover {
  transform: scale(1.1);
}

#transaction-history-button {
  grid-area: transaction-button;
  width: 60%;
  font-family: inherit;
  font-weight: bold;
  font-size: 200%;
}